<header class="site-header">
 <div class="container header-inner">
  <div class="brand">
    <a href="index.html" class="brand-link">Nazar Omelianenko</a>
  </div>

  <nav class="nav">
    <a href="teaching.html" class="nav-link" data-key="nav-teaching">Teaching</a>
    <a href="development.html" class="nav-link" data-key="nav-dev">Development</a>
    <a href="about-me.html" class="nav-link" data-key="nav-about">About</a>
    <a href="contact.html" class="nav-link" data-key="nav-contact">Contact</a>

    <div class="lang-switch">
      <a data-lang="es" href="#">ES</a>
      <a data-lang="en" href="#">EN</a>
      <a data-lang="ru" href="#">RU</a>
    </div>
  </nav>
</div>
</header>
