<div class="container header-inner">
  <div class="brand">
    <a href="index.html" class="brand-link">Nazar Omelianenko</a>
  </div>

  <nav class="nav">
    <a href="index.html" class="nav-link">Inicio</a>
    <a href="teaching.html" class="nav-link">Enseñanza</a>
    <a href="development.html" class="nav-link">Desarrollo</a>
    <a href="about-me.html" class="nav-link">Sobre mí</a>
    <a href="contact.html" class="nav-link">Contacto</a>
    
    <div class="lang-switch">
      <a data-lang="es" href="#">ES</a>
      <a data-lang="en" href="#">EN</a>
      <a data-lang="ru" href="#">RU</a>
    </div>
  </nav>
</div>
