<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">Nazar Omelianenko</a>

    <nav class="nav">
      <a href="/">Inicio</a>
      <a href="/es/ensenanza">Enseñanza</a>
      <a href="/es/desarrollo">Desarrollo</a>
      <a href="/es/sobre-mi">Sobre mí</a>
      <a href="/es/contacto">Contacto</a>

      <span class="lang-switch" aria-label="Language switch">
        <a data-lang="es" href="#">ES</a>
        <a data-lang="en" href="#">EN</a>
        <a data-lang="ru" href="#">RU</a>
      </span>
    </nav>
  </div>
</header>
